{% extends 'all/main.html' %}


{% block content %}
<style>
    body{
      background-image: url("https://i.pinimg.com/originals/bc/c4/40/bcc44098a28d3b9c83696be6f55c693a.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -1;
    }
    </style>

<hr><hr><br>

<p style="font-family: monospace; color: white; text-align: center;font-size: xx-large;">
    This is my gallery app.<br><br> It was created using Django, a python framework.<br><br>
    It keeps me connected to my past photos in my life. <br><br>There is nothing that brings history to reality more than a captured<br><br> moment in a photo.
</p>

{% endblock %}